<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>

    <div >
	[ <a href="/homepage">HOMEPAGE</a> | <a href="/browse">BROWSE</a> ]
	</div>

    <h1>Search for a Cocktail You're interested In</h1>
    
    <div class="container1">
        <div class="item">
            <h3> Search by Name </h3>
            <form action="/searchName" method ="post">
                <label for="drinkName">Drink Name:</label>
                <input type="text" id="drinkName" name="drinkName"><br><br>
                <input type="submit" value="Submit Search Name">
            </form>
        </div>
        <div class="item">
            <h3> Browse By Index </h3>
            <form action="/browse" method="post" id="browse">
            <button type="submit" from="browse" value="submit"> Browse By Index</button>
            </form>
        </div>
        <div class="item">
            <h3> Be Adventureous! </h3>
            <form action="/random" method="post" id="random">
            <button type="submit" from="browse" value="submit"> Random Pick </button>
            </form> 
        </div>
    </div>

   

    <p> Current Search Results: {{drinkData}} </p>

    <div>
        <h3> Reset the Form </h3>
        <form action="/homepage" id="home">
        <button type="submit" from="browse" value="submit" title="Pressing here will reset the forms"> Reset form</button>
        </form>

    </div>
    
        <h2> What data are you interested in?</h2>
        
        <form action="/displayData" method="post">
            
            <input type="checkbox" id="recipe" name="recipe" value="recipe">
            <label for="recipe"> Recipe</label><br>
            <input type="checkbox" id="instruction" name="instruction" value="instruction">
            <label for="instruction"> Instruction</label><br>
            <input type="checkbox" id="picture" name="picture" value="picture">
            <label for="picture"> Picture</label><br>
            <input type="submit" value="Submit">
        
        </form>

        <h3> Drink Recipe</h3>
        
        <table>
            <tbody>
                {%if recipe1arr%}
                    {% for i in range(0, recipe1arr|length)%}
                        <tr> 
                            <td>{{recipe1arr[i]}}</td>
                            <td>{{recipe2arr[i]}}</td>
                        </tr> 
                    {% endfor %}
                {%endif%}
        
            </tbody>
        </table>
        
        </tbody>
        </table>
        
        <h3> Drink Instructions</h3>
        <p>{{instructionData}}</p>

        <h3> Drink Picture </h3>
        <img src ={{drinkPicture}} >

    </div>
</body>
</html>